/* index.css */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0px;
  padding-bottom: 0px;
  background: #e5efe9;
  padding-right: 0px;
  
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding-bottom: 0px;
  
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #01280d, #295339);
}

::-webkit-scrollbar-thumb {
  background: #898686;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7a7a;
  opacity: 0.9;
}

/* ===== AUTH PAGE ===== */
/* Disable body scroll on desktop only */
@media (min-width: 769px) {
  body.authPage {
    overflow: auto !important;
  }
}

/* Allow body scroll on mobile */
@media (max-width: 768px) {
  body.authPage {
    overflow: auto !important;
  }
}
