.footer {
  width: 100%;
  background: #01280d;
  color: white;
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  box-sizing: border-box;
  border-top: 1px solid #024d1a;
  margin-top: 40px; /*  adds space between content and footer */
  position: fixed;    
  bottom: 0;         
  left: 0;            
  z-index: 999; 
  height: 64px;
}
