.mealplan-card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mealplan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
  
}


.macros {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.macros span {
  background: #f3f3f3;
  padding: 6px 12px;
  border-radius: 12px;
}

.meals-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
}
.macros {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  font-weight: 600;
  
}

/* Calories */
.macros span:nth-child(1) {
  color: #1d9bf0;
  
}

/* Protein */
.macros span:nth-child(2) {
  color: #22c55e;
}

/* Fat */
.macros span:nth-child(3) {
  color: #f97316;
}

/* Carbs */
.macros span:nth-child(4) {
  color: #ec4899;
}

/* Tablet */
@media (max-width: 1024px) {
  .meals-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 868px) {
  .meals-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
